<form [formGroup]="$any(form)">
  <div class="form-field-row">
    <span
      class="form-field-label"
      [appUnsavedChangesTextHighlight]="form.controls.minimumBet"
    >
      Minimum bet
    </span>
    <p-inputNumber
      id="settings-form-minimum-bet"
      class="form-field-control"
      [formControl]="$any(form.controls.minimumBet)"
      [min]="1"
      [showButtons]="true"
    ></p-inputNumber>
    <div
      *appIfInvalidChangedTouched="form.controls.minimumBet"
      class="form-field-hint"
    >
      <small *ngIf="form.controls.minimumBet.errors?.['required']" class="text-red-400">
        This field is required.
      </small>
      <small *ngIf="form.controls.minimumBet.errors?.['min']" class="text-red-400">
        Minimum bet should be at least 1.
      </small>
    </div>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.numberOfDecks">
      Number of decks: <span class="font-bold">{{ form.value.numberOfDecks }}</span>
    </span>
    <p-slider
      id="settings-form-number-of-decks"
      class="form-field-control"
      [formControl]="$any(form.controls.numberOfDecks)"
      [min]="minNumberOfDecks"
      [max]="maxNumberOfDecks"
      [step]="1"
    ></p-slider>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.dealerDrawsHoleCard">
      Dealer draws hole card as second card
    </span>
    <p-inputSwitch
      id="settings-form-dealer-draws-hole-card"
      class="form-field-control"
      [formControl]="$any(form.controls.dealerDrawsHoleCard)"
    ></p-inputSwitch>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.dealerHitsSoft17">
      Dealer hits at soft 17
    </span>
    <p-inputSwitch
      id="settings-form-dealer-hits-soft-17"
      class="form-field-control"
      [formControl]="$any(form.controls.dealerHitsSoft17)"
    ></p-inputSwitch>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.allowSurrender">
      Allow surrender as first move
    </span>
    <p-inputSwitch
      id="settings-form-allow-surrender"
      class="form-field-control"
      [formControl]="$any(form.controls.allowSurrender)"
    ></p-inputSwitch>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.doubleDownTotalRule">
      Double down total rule
    </span>
    <p-dropdown
      id="settings-form-double-down-total-rule"
      class="form-field-control"
      [formControl]="$any(form.controls.doubleDownTotalRule)"
      [options]="allDoubleDownTotalRules"
      optionLabel="description"
    ></p-dropdown>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.doubleDownAfterSplitAllowed">
      Allow double down after split
    </span>
    <p-inputSwitch
      id="settings-form-double-down-after-split-allowed"
      class="form-field-control"
      [formControl]="$any(form.controls.doubleDownAfterSplitAllowed)"
    ></p-inputSwitch>
  </div>
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.splitRule">
      Split rule
    </span>
    <p-dropdown
      id="settings-form-split-rule"
      class="form-field-control"
      [formControl]="$any(form.controls.splitRule)"
      [options]="allSplitRules"
      optionLabel="description"
    ></p-dropdown>
  </div>
  <app-resplit-controller
    id="settings-form-max-hands-per-player"
    [formControl]="$any(form.controls.maxHandsPerPlayer)"
  ></app-resplit-controller>
  <div class="form-actions-row">
    <p-button id="settings-form-restore-defaults" severity="danger" (onClick)="restoreDefaultSettings()">
      <fa-icon [icon]="restoreIcon"></fa-icon>
      &nbsp;
      <span>Restore defaults</span>
    </p-button>
    <p-button id="settings-form-cancel" severity="secondary" (onClick)="reset()">
      <fa-icon [icon]="cancelIcon"></fa-icon>
      &nbsp;
      <span>Cancel</span>
    </p-button>
    <p-button id="settings-form-save" [disabled]="form.invalid" (onClick)="saveSettings()">
      <fa-icon [icon]="saveIcon"></fa-icon>
      &nbsp;
      <span>Save</span>
    </p-button>
  </div>
</form>
