@use "../../../../../../variables";

:host {
  display: flex;
  height: 157px + 2 * variables.$cards-container-padding;
  align-items: center;
  gap: 16px;
  background-color: var(--surface-c);
  padding: variables.$cards-container-padding;
  border-radius: variables.$cards-container-padding;
}

.cards-container {
  display: flex;
  align-items: flex-start;

  .card-item {
    margin-left: -90px;
    &:first-child {
      margin-left: 0;
    }
  }
}
