<ng-container *ngIf="handData$ | async as handData">
  <div class="cards-container">
    <app-card
      *ngFor="let card of handData.cards"
      class="card-item"
      [backgroundUrl]="card.image"
    ></app-card>
    <app-card
      *ngIf="handData.hasHoleCard || handData.newCardPending"
      class="card-item"
      [backgroundUrl]="URL_CARD_BACKGROUND"
    >
      <p-progressSpinner
        *ngIf="handData.newCardPending"
        strokeWidth="5px"
      ></p-progressSpinner>
    </app-card>
  </div>
  <div class="card-total" *ngIf="handData.cards.length > 0">
    <p-badge
      [value]="handData.totalCardValueToDisplay"
      [severity]="handData.totalCardValueSeverity"
      size="large"
    ></p-badge>
  </div>
</ng-container>

