<p-progressBar
  *ngIf="loadingRoute$ | async"
  mode="indeterminate"
  [style]="{ height: '3px', borderRadius: 0 }"
></p-progressBar>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button id="top-bar-left-button" *ngIf="possibleLeftButton as leftButton" (onClick)="navigate()">
      <fa-icon *ngIf="leftButton.icon" [icon]="leftButton.icon"></fa-icon>
      &nbsp;
      <span>{{ leftButton.label }}</span>
    </p-button>
  </div>
  <div class="p-toolbar-group-center">
    <span class="text-primary font-semibold text-xl">{{ title$ | async }}</span>
  </div>
  <div class="p-toolbar-group-end"></div>
</p-toolbar>
