@use "../../../../variables";

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.p-toolbar-group-start, .p-toolbar-group-end {
  flex: 1 0 0;
}

p-progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
