<form [formGroup]="$any(form)">
  <div class="form-actions-row">
    <p-button id="players-form-add-player" (onClick)="addPlayer()">
      <fa-icon [icon]="addNewPlayerIcon"></fa-icon>
      &nbsp;
      <span>Add new player</span>
    </p-button>
  </div>
  <p-divider></p-divider>
  <ng-container *ngFor="let playerControl of form.controls.players.controls; index as i; first as first; last as last">
    <div class="player-form-item-row">
      <div
        class="player-form-item-name-label"
        *ngIf="playerControl.value.type === 'human' else cpuLabel"
      >
        <fa-icon [icon]="humanPlayerIcon"></fa-icon>
        <span class="players-form-player-name-label">{{ playerControl.value.name }}</span>
      </div>
      <ng-template #cpuLabel>
        <div class="player-form-item-name-label">
          <fa-icon [icon]="cpuPlayerIcon"></fa-icon>
          <span class="players-form-player-name-label">CPU</span>
        </div>
      </ng-template>
      <div>
        <div class="p-inputgroup">
          <button
            pButton
            (click)="movePlayerUp(i)"
            pTooltip="Move up"
            tooltipPosition="bottom"
            class="p-button-secondary players-form-move-up"
            [disabled]="first"
          >
            <fa-icon [icon]="moveUpIcon"></fa-icon>
          </button>
          <button
            pButton
            (click)="movePlayerDown(i)"
            pTooltip="Move down"
            tooltipPosition="bottom"
            class="p-button-secondary players-form-move-down"
            [disabled]="last"
          >
            <fa-icon [icon]="moveDownIcon"></fa-icon>
          </button>
          <button
            pButton
            (click)="editPlayer(i)"
            pTooltip="Edit"
            tooltipPosition="bottom"
            class="players-form-edit"
          >
            <fa-icon [icon]="editIcon"></fa-icon>
          </button>
          <button
            pButton
            (click)="deletePlayer(i)"
            pTooltip="Delete"
            tooltipPosition="bottom"
            class="p-button-danger players-form-delete"
          >
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <p-divider *ngIf="!last"></p-divider>
  </ng-container>
  <span id="no-players-configured-text" class="font-italic" *ngIf="form.controls.players.controls.length === 0">
    There are no players configured
  </span>
</form>
