:host {
  display: block;
}

div.player-form-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

div.player-form-item-name-label {
  display: grid;
  align-items: center;
  grid-template-columns: 32px auto;
  column-gap: 0.5rem;
  justify-items: center;
}
