<ng-container *ngIf="determineInsuranceObject$ | async as determineInsuranceObject">
  <div class="form-field-row" *ngIf="determineInsuranceObject.humanPlayer === humanPlayer">
    <span class="form-field-label">Do you want an insurance?</span>
    <div class="form-field-control">
      <p-button
        severity="success"
        (onClick)="determineInsuranceObject.setWantsInsurance(true)"
        class="insurance-input-yes-button"
      >
        <fa-icon [icon]="yesIcon"></fa-icon>
        &nbsp;
        <span>Yes</span>
      </p-button>
      &nbsp;
      <p-button
        severity="danger"
        (onClick)="determineInsuranceObject.setWantsInsurance(false)"
        class="insurance-input-no-button"
      >
        <fa-icon [icon]="noIcon"></fa-icon>
        &nbsp;
        <span>No</span>
      </p-button>
    </div>
  </div>
</ng-container>
