<form [formGroup]="$any(form)">
  <div class="form-field-row">
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.resplitOption">Resplit</span>
    <p-dropdown
      id="resplit-controller-options"
      class="form-field-control"
      [formControl]="$any(form.controls.resplitOption)"
      [options]="resplitOptions"
      optionLabel="description"
    ></p-dropdown>
  </div>
  <div
    id="resplit-controller-max-hands"
    class="form-field-row"
    [appShow]="form.value.resplitOption === resplitOptions[2]"
  >
    <span class="form-field-label" [appUnsavedChangesTextHighlight]="form.controls.maxHands">Maximum number of hands</span>
    <p-inputNumber
      class="form-field-control"
      [formControl]="$any(form.controls.maxHands)"
      [min]="2"
      [max]="Number.MAX_SAFE_INTEGER"
      [showButtons]="true"
    ></p-inputNumber>
    <div
      *appIfInvalidChangedTouched="form.controls.maxHands"
      class="form-field-hint"
    >
      <small class="text-red-400">Fill in an integer value of at least 2.</small>
    </div>
  </div>
</form>
