<form [formGroup]="$any(form)">
  <div class="form-field-row">
    <span class="form-field-label">Enter your name to get started</span>
    <input
      id="welcome-dialog-form-name"
      type="text"
      pInputText
      class="form-field-control"
      (keydown.enter)="savePlayer($event)"
      [formControl]="$any(form.controls.name)"
    >
    <div id="welcome-dialog-hint" class="form-field-hint" *appIfInvalidChangedTouched="form.controls.name!">
      <small *ngIf="form.controls.name?.getError('required')" class="text-red-400">
        This field is required.
      </small>
      <small *ngIf="form.controls.name?.getError('pattern')" class="text-red-400">
        An input with only spaces is not allowed.
      </small>
    </div>
  </div>
  <div class="form-actions-row">
    <p-button id="welcome-dialog-form-save" (onClick)="savePlayer()" [disabled]="this.form.invalid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      &nbsp;
      <span>Start</span>
    </p-button>
  </div>
</form>
