:host {
  display: flex;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 113px;
  height: 157px;
  justify-content: center;
  align-items: center;
  border-radius: 5px
}
