<ng-container *ngIf="determineMoveObject$ | async as determineMoveObject">
  <div class="form-actions-row" *ngIf="determineMoveObject.playerHandLinkItem === playerHandLinkItem">
    <div>
      <div class="p-inputgroup">
        <button
          pButton
          *ngIf="determineMoveObject.allowedMoves.has(Move.HIT)"
          (click)="determineMoveObject.select(Move.HIT)"
          pTooltip="Hit"
          tooltipPosition="bottom"
          class="move-input-button move-input-hit"
        >
          <fa-icon [icon]="hitIcon"></fa-icon>
          &nbsp;
          Hit
        </button>
        <button
          pButton
          *ngIf="determineMoveObject.allowedMoves.has(Move.STAND)"
          (click)="determineMoveObject.select(Move.STAND)"
          pTooltip="Stand"
          tooltipPosition="bottom"
          class="move-input-button move-input-stand"
        >
          <fa-icon [icon]="standIcon"></fa-icon>
          &nbsp;
          Stand
        </button>
        <button
          pButton
          *ngIf="determineMoveObject.allowedMoves.has(Move.DOUBLE_DOWN)"
          (click)="determineMoveObject.select(Move.DOUBLE_DOWN)"
          pTooltip="Double down"
          tooltipPosition="bottom"
          class="move-input-button move-input-double-down"
        >
          <fa-icon [icon]="doubleDownIcon"></fa-icon>
          &nbsp;
          Double down
        </button>
        <button
          pButton
          *ngIf="determineMoveObject.allowedMoves.has(Move.SPLIT)"
          (click)="determineMoveObject.select(Move.SPLIT)"
          pTooltip="Split"
          tooltipPosition="bottom"
          class="move-input-button move-input-split"
        >
          <fa-icon [icon]="splitIcon"></fa-icon>
          &nbsp;
          Split
        </button>
        <button
          pButton
          *ngIf="determineMoveObject.allowedMoves.has(Move.SURRENDER)"
          (click)="determineMoveObject.select(Move.SURRENDER)"
          pTooltip="Surrender"
          tooltipPosition="bottom"
          class="move-input-button move-input-surrender"
        >
          <fa-icon [icon]="surrenderIcon"></fa-icon>
          &nbsp;
          Surrender
        </button>
      </div>
    </div>
  </div>
</ng-container>
