<div class="start-restart-button-section" *ngIf="gamePhase$ | async as gamePhase">
  <div class="form-actions-row" *ngIf="gamePhase === 'BETTING'">
    <p-button
      id="start-game-button"
      [disabled]="(startAllowed$ | async) !== true"
      (onClick)="startGame()"
    >
      <fa-icon [icon]="startGameIcon"></fa-icon>
      &nbsp;
      <span>Start</span>
    </p-button>
  </div>
  <div class="form-actions-row" *ngIf="gamePhase === 'FINISHING'">
    <p-button
      id="replay-game-button"
      (onClick)="replayGame()"
    >
      <fa-icon [icon]="replayIcon"></fa-icon>
      &nbsp;
      <span>Play again</span>
    </p-button>
  </div>
</div>
