<app-top-bar [possibleLeftButton]="LEFT_BUTTON_TOP_BAR"></app-top-bar>
<div class="container">
  <div class="my-4">
    <p-fieldset legend="Settings">
      <app-blackjack-settings-form></app-blackjack-settings-form>
    </p-fieldset>
  </div>
  <div class="my-4">
    <p-fieldset legend="Players">
      <app-players-form></app-players-form>
    </p-fieldset>
  </div>
</div>
<p-toast></p-toast>
<p-confirmDialog>
  <ng-template pTemplate="icon">
    <fa-icon [icon]="faWarning" class="text-orange-400"></fa-icon>
  </ng-template>
</p-confirmDialog>
