<app-top-bar [possibleLeftButton]="LEFT_BUTTON_TOP_BAR"></app-top-bar>
<div class="container">
  <app-blackjack-game-player
    class="my-4"
    *appForEachPlayerHandLinkItem="let item of playerHandLink$ | async"
    [playerHandLinkItem]="item"
  ></app-blackjack-game-player>
  <app-start-replay-game-button></app-start-replay-game-button>
</div>
<p-toast></p-toast>
<p-confirmDialog>
  <ng-template pTemplate="icon">
    <fa-icon [icon]="faWarning" class="text-orange-400"></fa-icon>
  </ng-template>
</p-confirmDialog>
