<form [formGroup]="$any(form)">
  <div class="form-field-row">
    <span class="form-field-label">Type of player</span>
    <p-dropdown
      id="single-player-form-type"
      class="form-field-control"
      [formControl]="$any(form.controls.type)"
      [options]="typeOptions"
      optionValue="value"
      optionLabel="label"
    ></p-dropdown>
    <div class="form-field-hint" *appIfInvalidChangedTouched="form.controls.type!">
      <small class="text-red-400">This field is required</small>
    </div>
  </div>
  <ng-container *ngIf="form.value.type === 'human'">
    <div class="form-field-row">
      <span class="form-field-label">Name</span>
      <input
        id="single-player-form-name"
        type="text"
        pInputText
        class="form-field-control"
        [formControl]="$any(form.controls.name)"
      >
      <div class="form-field-hint" *appIfInvalidChangedTouched="form.controls.name!">
        <small *ngIf="form.controls.name?.getError('required')" class="text-red-400">
          This field is required
        </small>
        <small *ngIf="form.controls.name?.getError('pattern')" class="text-red-400">
          An input with only spaces is not allowed
        </small>
        <small *ngIf="form.controls.name?.getError('nameIsUnique')" class="text-red-400">
          This name is already in use
        </small>
      </div>
    </div>
    <div class="form-field-row">
      <span class="form-field-label">Balance</span>
      <p-inputNumber
        id="single-player-form-balance"
        [min]="0"
        [showButtons]="true"
        [formControl]="$any(form.controls.balance)"
      >
      </p-inputNumber>
      <div class="form-field-hint" *appIfInvalidChangedTouched="form.controls.balance!">
        <small class="text-red-400">
          This field is required
        </small>
      </div>
    </div>
  </ng-container>
  <div class="form-actions-row">
    <p-button severity="secondary" (onClick)="cancel()">
      <fa-icon [icon]="cancelIcon"></fa-icon>
      &nbsp;
      <span>Cancel</span>
    </p-button>
    <p-button id="single-player-form-save" (onClick)="savePlayer()" [disabled]="this.form.invalid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      &nbsp;
      <span>Save</span>
    </p-button>
  </div>
</form>
