<form [formGroup]="$any(betFormControlsByPlayerName)">
  <div class="form-field-row">
    <span class="form-field-label">Bet</span>
    <p-inputNumber
      class="form-field-control bet-input"
      [formControl]="$any(formControl)"
      [min]="minimumBet"
      [max]="maxBet"
      [showButtons]="true"
    ></p-inputNumber>
    <div
      *ngIf="formControl.invalid"
      class="form-field-hint"
    >
      <small *ngIf="formControl.errors?.['required'] || formControl.errors?.['min']" class="text-red-400">
        Fill in a bet of at least {{ minimumBet }}.
      </small>
      <small *ngIf="formControl.errors?.['max']" class="text-red-400">
        Bet exceeds balance.
      </small>
    </div>
  </div>
</form>
