/* You can add global styles to this file, and also import other style files */
@use "primeng/resources/primeng.min.css";
@use "variables";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--surface-ground);
}

.container {
  width: 720px;
  margin: 0 auto;
}

div.form-field-row {
  margin: 1.5rem 0;
  display: grid;
  align-items: center;
  gap: 0.5rem 1rem;
  grid-template-areas: "label control" ". hint";
  grid-template-columns: max-content 1fr;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .form-field-label {
    grid-area: label;
  }

  .form-field-control {
    grid-area: control;
  }

  .form-field-hint {
    grid-area: hint;
  }
}

div.form-actions-row {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin highlighted-link-item {
  box-shadow: 0 0 3px var(--primary-300);
}

@keyframes activate-link-item {
  from {box-shadow: unset}
  to {@include highlighted-link-item}
}

.p-card.active-link-item {
  @include highlighted-link-item;
  animation-name: activate-link-item;
  animation-duration: 0.5s;
}

.block-ui-card-container {
  border-radius: variables.$cards-container-padding;
  z-index: variables.$z-index-block-ui !important;
}
