<p-card [header]="title" [styleClass]="(possibleHighlightClass$ | async) ?? undefined">
  <ng-template pTemplate="subtitle" *ngIf="possibleBalanceAndBetInfo$ | async as balanceAndBetInfo">
    <div class="bet-info">Bet:&nbsp;<span class="font-bold">{{ balanceAndBetInfo.bet }}</span></div>
    <div class="balance-info">Balance:&nbsp;<span class="font-bold">{{ balanceAndBetInfo.balance }}</span></div>
  </ng-template>
  <app-cards-with-info #cardsWithInfoComponent [hand]="playerHandLinkItem.hand$ | async"></app-cards-with-info>
  <ng-template pTemplate="footer" *ngIf="possibleHumanPlayer as humanPlayer">
    <app-bet-input *ngIf="isBettingPhase$ | async" [humanPlayer]="humanPlayer"></app-bet-input>
    <app-move-input [playerHandLinkItem]="playerHandLinkItem"></app-move-input>
    <app-insurance-input [humanPlayer]="humanPlayer"></app-insurance-input>
  </ng-template>
</p-card>
<p-blockUI
  [target]="cardsWithInfoComponent"
  *ngIf="resultWithSeverity$ | async as resultWithSeverity"
  [blocked]="resultWithSeverity.result !== null"
  styleClass="block-ui-card-container"
>
  <p-badge size="xlarge" [value]="resultWithSeverity.result?.message" [severity]="resultWithSeverity.severity"></p-badge>
</p-blockUI>
